<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title> CPR123 Class Enrollment Watcher </title>
        <link rel="stylesheet" href="templates/css/style.css" type="text/css" />

    </head>
    <body>
        <div id="page_header">
            <h3>CPR123 Class Enrollment Watcher</h3>
        </div>
        {% for class in classes %}
            <div class="class_item">
                <div class="class_title gradient">
                    <a href="/ViewClass?key={{ class['key'] }}">{{ class['class_name'] }}</a>
                </div>
                <div class="class_details">
                    <span class="left">{{ class['date_time'] }}</span>
                    <span class="center">{{ class['location'] }}</span>
                    <span class="right">{{ class['instructor'] }}</span>
                </div>
            </div>
        {% endfor %}
    </body>
</html>